
    .side_nav {
        display: none;
    }
    .mode {
        display: none;
    }
    .display_options {
        text-align: center;
        
        padding-bottom: 15px;
    }

    .content {
        float: right;
    }
    

    .products {
        position: relative;
    }
    

    .products ul.product_cats {
        margin: 0;
        padding: 0;
        background-color: #494E57;
        text-align: center;
    }
                 
    .products ul.product_cats li {
        display: inline-block;
    }
    
    .products ul.product_cats li a {
        display: inline-block;
        line-height: 30px;
        padding: 5px 10px;
        color: #FFF;
    }
                 
    .products ul.product_cats li .selected {
        background-color: #FB5642;
        color: #FFF;
        outline: 0;
    }
    
    .product_blocks li {
        width: 100%;
        text-align: center;
        border: 1px solid #EBEBE0;
    }

    .product_blocks li img {
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        width: 50%;
    }
    
    .product_blocks {
        list-style: none;
        margin: 0px 10px;
        padding: 0;
    }
    
    .product_blocks li {
        margin-top: 10px;
    }

    .product_blocks li h5 {
        color: #494E57; 
        margin-top: 30px;
        margin-bottom: 10px;
    }
                
    .price {
        font-size: 1.5em;
        color: #FB5642;
    }
                 
    a.to_cart{
        display: block;
        width: 80px;
        margin: 10px auto;
        margin-bottom: 20px;
        font-size: 0.8em;
        padding: 5px 10px;
        color: #FFF;
        background-color: #FB5642;
     }
                 
    a.to_cart:hover {
        background-color: #494E57;
    }

    .hide {
        display: block;
    }

    .product_blocks li a > span .quick_view {
        display: none;
    }



    /*LOGIN */
    
    .content {
    float: left;
    width: 100%;
    padding: 0 10px;
    color: #494E57;


    }



    .content  h1 {
                    margin: 0;
                    padding-bottom: 2px;
                    border-bottom:1px solid #EBEBE0;
                    font-weight: normal;
                    color: #494E57;
                }
                
                .content .login_box {
                    margin-bottom: 10px;
                }
                
                .content form label {
                    display: block;
                    margin-top: 10px;
                }
                .content form input {
                    display: block;
                }
                
                .content form input:not([type="button"]){
                    width: 100%;
                    line-height: 25px;
                    border: 1px solid #EBEBE0;
                }

                
                .content form input[type="submit"], 
                form input[type="submit"] {
                    width: 150px;
                    margin: 10px 0px;
                    border:0;
                    line-height: 30px;
                    padding: 0 10px;
                    background-color: #FB5642;
                    color: #FFF;
                }
                
                .content span {
                    font-size: 0.8em;
                }
                
                .content span a {
                    color: #FB5642;
                }

                .content .register_box span {
                    display: block;
                    margin-top: 5px;
                }
                .content .register_box a {
                    display: block;
                    width: 150px;
                    margin-top: 10px;
                    line-height: 30px;
                    text-align: center;
                    background-color: #FB5642;
                    color: #FFF; 
                }
                
                .content .register_box a:hover, 
                .content form input[type="button"]:hover,
                .content form input[type="submit"]:hover,
                form input[type="submit"]:hover {
                    background-color: #494E57;
                }


/* REGISTER */
                .content .register_box form input[type="checkbox"] {
                    display: inline;
                    width: auto;
                    margin-right: 2%;
                }




/* REGISTER */





/* PRODUCT */

.content_left {
    
}  
.content_mid {
    
}  

.content_right {
}  

.content_left .product_image_list {
    width: 25%;
    float: left;
    overflow: hidden;
}

.product_image_list div {
    width: 100%;
    border: 1px solid #EBEBE6;
    margin-bottom: 10px;
}

.product_image {
    width: 73%;
    float: right;
    border: 1px solid #EBEBE6;
}

.product_des {
    margin: 0 4%;
}
.product_des h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
}

.product_des p {
    font-size: 0.8em;
}

.price_box {
    border: 1px solid #EBEBE6;
    padding: 5%;
   
}

.price_box h3 {
    color: #494E57;
    margin: 5px 0px;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

.price_box p {
    color: #FB5642;
    font-size: 1.2em;
    margin-top: 0;
    text-align: center;
}

.price_box p span {
    color: #494E57;
    font-size: 0.9em;
    text-decoration: line-through;
    font-weight: normal;
}

.price_box input {
    width: 60%;
    line-height:20px;
}
.price_box .btn_p_m {
    text-align: center;
    border: 1px solid #EBEBE6;
    display: inline-block;
    font-weight: bold;
    color: #494E57;
    width: 23px;
    line-height: 23px;
}

.price_box .btn_p_m:hover {
    background-color: #EBEBE6;
    cursor: pointer;
}

input.add_to_cart {
        display: block;
        border: 0;
        margin-top: 10px;
        width: 60%;
        font-size: 0.8em;
        padding: 5px 1%;
        color: #FFF;
        background-color: #FB5642;
}

.add_to_cart:hover {
    background-color: #494E57;
}

.content_bottom {
        clear: both;
    }
.content_bottom table {
    width: 100%;
    text-align: left;
}

.content_bottom table tr {
    border-bottom: 1px solid #EBEBE6;
}
.content_bottom table td, .content_bottom table th {
    padding: 10px;
}

.content_bottom table :not(:first-child) th {
    width: 25%;
    border-right: 1px solid #EBEBE6;
}

.content_bottom h3 {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1em;
}

.content_bottom p {
    padding: 0 10px;
    font-size: 0.8em;
    margin-top: 10px;
}
/* PRODUCT */



.photo_buttons {
		clear:both;
		float:left;
		width: 40%;
		
	}
		ul.buttons {
		clear:both;
		list-style: none;
		padding:0;
		
	}

	ul.buttons li{
		margin-top: 1px;
		
	}
	ul.buttons a {
		background:#FB5642;
		display: block;
		line-height: 25px;
		padding-left: 10px;
	}
	
	ul.buttons a:HOVER {
		color: #FFF;
		background-color: #494E57 ;
	}
    


   
    
@media only screen and (min-width: 800px) {
                 
 
                /*******************************************
                 *********** SIDE NAVIGATION START *********
                 *******************************************/
    
                .products ul.product_cats {
                    padding: 0;
                    padding-bottom: 4px;
                    text-align: left;
                    background-color: #FFF;
                }
                
                .products ul.product_cats li a {
                    display: inline;
                    line-height: 16px;
                    color: #494E57;
                }
    
                .side_nav {
                    display: block;
                    float: left;
                 }
                
                .side_nav ul {
                    margin-top: 0px;
                    padding: 0;
                    list-style: none;
                    border: 0;
                }
                 
                 .side_nav ul li {
                    width: 100%;
                    margin-top: 3px;
                    border: 1px solid #EBEBE0;
                 }
                 
                 .side_nav ul li:first-child {
                    margin: 0;
                    padding: 10px 0;
                    text-align: center;
                    border-color: #FB5642;
                    background-color:#FB5642; 
                    color:#FFF;
                 }
                 
                 .side_nav a {
                    width: 100%;
                    margin: 0;
                    padding: 8px;
                    display: inline-block;
                    font-size: 0.8em;
                    color: #494E57;
                 }
                
                 .side_nav > ul li:hover a {
                    color: #FFF;
                    background-color: rgba(251, 86, 66, 0.5);
                 }
                 
                .side_nav li:first-child:hover {
                    box-shadow: 0px 0px 0px 0px #FB5642;
                 }
                
                .side_nav > ul li:hover {
                    box-shadow: 0px 0px 1px 1px #FB5642;
                 }
                    
                .side_nav .left_side_product h5 {
                    margin: 0;
                    padding: 10px;
                    font-weight: normal;
                    font-size: 1em;
                    text-align: center;
                    background-color: #FB5642;
                    color: #FFF;
                 }
                 .side_nav .left_side_product ul {
                    text-align: center;
                    width: 100%;
                    border: 1px solid #EBEBE0;
                    border-top: none;
                 }
                
                 .side_nav .left_side_product ul li {
                     background-color: #FFF;
                     border: 0;
                 }
                
                 .side_nav .left_side_product ul li img {
                    max-width: 80%;
                 }
                 /*******************************************
                 *********** SIDE NAVIGATION STOP ***********
                 *******************************************/
    
                 /*******************************************
                 ************** PRODUCTS START  *************
                 *******************************************/
                .products ul.product_cats {
                    border-bottom: 2px solid #FB5642;
                }
                 
                 
                 .display_options {
                    position: absolute;
                    right: 0;
                    line-height: 20px;
                 }
                 
                 .display_options img{
                    width: 20px;
                    margin-left: 5px;
                 }
                
                .mode {
                    display: inline-block;
                }
    
                .products ul {
                    margin: 0;
                }
               
                 .product_blocks {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    flex-wrap: wrap;
                 }
                 
                
                 
                 .product_blocks li {
                    width: 48%;
                    margin-top: 15px;
                    text-align: center; 
                 }
                 
                .product_blocks li a {
                    position: relative;
                 }
                 
                 .product_blocks li img{
                    max-width: 70%;
                    margin-top: 10%;
                 }
                 
                 
                 
                 
                 
    
                 
                 
                 .product_blocks_mod_2 {
                    margin: 0;
                    padding: 0;
                    display: block;
                 }
                 
                 
                 .product_blocks_mod_2 li {
                    display: block;
                    width: 100%;
                    margin-top: 15px;
                    min-height: 140px;
                    position: relative;
                    text-align: left;
                    padding: 25px;
                    border: 1px solid #EBEBE0; 
                 }
                 
                 .product_blocks_mod_2 li img {
                    float: left;
                    max-height: 120px;
                 }
                 
                 .product_blocks_mod_2 li h5 {
                    color: #494E57;
                    margin: 0;
                    margin-left: 50%; 
                    font-size: 1.2em;
                 }
                 
                 .product_blocks_mod_2 li p {
                    text-align: left;
                    width: 100%;
                    display: block;
                    padding-left: 50%;
                    font-size: 0.8em;
                 }
                 
                 
                 .product_blocks_mod_2 span {
                    color: #FB5642;
                    margin-left: 50%;
                 }
                 
                 .product_blocks_mod_2 a.to_cart{
                    display: block;
                    width: 80px;
                    padding: 2px 5px;
                    color: #FFF;
                    background-color: #FB5642;
                    margin-top: 10px;
                    margin-left: 50%; 
                    
                 }
                 
                 
                 
                 
                 .product_blocks li a > span {
                    display: block;
                    position: relative;
                    width: 100%;
                 } 
                 
                 .quick_view {
                    opacity: 0;
                    transition: opacity 0.1s ease-out;
                    position: absolute;
                    width: 150px;
                    display: block;
                    top: 50%;
                    right:0;
                    left:0;
                    margin: auto;
                    transform: translateY(-50%);
                    background-color: rgba(0, 0, 0, 0.8);
                    padding: 5px 5px;
                    font-size: 0.8em;
                    color: #FFF;
                 }
                
                .product_blocks li a > span .quick_view {
                    display: block;
                }
                 
                 .product_blocks li a > span:hover .quick_view {
                    opacity: 1;
                    transition:opacity 0.1s ease-in;
                 }
                 
                 .product_blocks li a > span .quick_view:hover {
                    background-color: rgba(251, 86, 66, 0.8);
                 }
                 
                /*******************************************
                 ************** PRODUCTS STOP &*************
                 *******************************************/
                 
                 
                 
                 /*******************************************
                 ************* QUICK VIEW START *************
                 *******************************************/
    
                 .mask {
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0,0,0, 0.6);
                 }
                 
                 .mask .box {
                    width: 50%;
                    left:0;
                    right: 0;
                    margin: auto;
                    margin-top: 15%;
                    position: fixed;
                    box-shadow: 0px 0px 3px 1px #000;
                    background-color: #FFF;
                 }
                 
                 .box .bar {
                    position: relative;
                    padding: 5px 10px;
                    color: #FFF;
                    font-size: 0.8em;
                    background-color: #FB5642; 
                 }
                 .bar .close {
                    position: absolute;
                    right: 0;
                    margin-right: 10px;
                    font-weight: bold;
                    color: #FFF;
                 }
                 
                 .box_left_side {
                    margin-top: 2%;
                    margin-left: 2%;
                    width: 40%;
                    float: left;
                 }
                 .box_left_side img {
                    width: 100%;
                 }
    
                .left_side_product .to_cart {
                    display: block;
                    width: 80px;
                    margin: 10px auto;
                    margin-bottom: 20px;
                    padding: 5px 10px;
                    color: #FFF;
                    background-color: #FB5642;
                }

                 .box_right_side {
                    margin-top: 2%;
                    margin-bottom: 5%;
                    padding: 0 10px;
                    width: 50%;
                    float: right;
                   
                 }
                 .box_right_side h4 {
                    margin-top:0%;
                 }
                 .box_description {
                    font-size: 0.8em;
                 }
                 .box_right_side .price {
                    margin: 0;
                    font-size: 0.8em;
                 }
                 
                
                
    
                 /******************************************
                 ************* QUICK VIEW STOP *************
                 *******************************************/
    
                   .content {
                        float: right;
                        width: 68.75%;
                        padding: 0;
                    }
                   
    
    
    /* PRODUCTS */
    .price_box {
        text-align: left;
    }
    .price_box input { 
        margin-left: 0;
    }
    
    input.add_to_cart { 
        width: 70%;
    }
    
    
    
	    h3.h3profile {
		color:#494E57;
		padding-bottom: 5px;
		margin-bottom: 0;
	}
		.profile {
			border-top: 1px solid #494E57 ;
		}
		
		
    
    
    
}