    body {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        font-family: "Open Sans",sans-serif;
    }

    a {
        color: #FFF;
        text-decoration: none;
    }

    a:hover {
        color: #FB5642;
    }
    
    *:focus {
        outline: 0;
    }
    
    .btn_hover:hover {
        background-color: #494E57;
    }

    .header_top {
        border: 1px solid #FFF;
    }
    
    .header_logo a {
        display: block;
        text-align: center;
    }
    
    .search_form {
        width: 100%;
        padding: 0 10px;
    }           
    
                
    .search_form form {
        position: relative;
        border: 1px solid #EBEBE0;
        border-right: none;
    }
    
    input[type="search"] {
        padding-left: 10px;
        line-height: 30px;
        border: 0;
        width: 80%;
    }

    input[type="search"]:focus {
        outline: 0;
    }

    button[type="submit"] {
        display: inline-block;
        width: 34px;
        height: 34px;
        position: absolute;
        right: 0;
        top: -1px;
        border: 0;
        background-color: #FB5642;
    }
                
    button[type="submit"] img {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 1px;
        margin-top: 4px;
    }
    
   .top_nav {
        position: relative;
        background: #494E57;
   }
    .cart_user {
        display: flex;
        justify-content: space-between;
        padding: 5px 5%;
    }

   .top_nav > ul {
        display: none;
   }

    .cart_user img {
        height: 40px;
    }
    
    .mobile_menu {
        width:40px;
       
    }
    .mobile_menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 5px;
        left: 0;
        width: 100%;
        z-index: 30;
    }
    .mobile_menu ul li img {
        padding-left: 5%;
        margin-bottom: 5px;
    }
    
    .mobile_menu > ul > li:first-child {
        width: 40px;
        margin-left: 5%;
        position: relative;
    }
    .mobile_menu li a {
        display: block;
        width: 100%;
        line-height: 40px;
        padding-left: 5%;
        border-top: 1px solid #FFF;
        background: #494E57;
    }

    .mobile_menu ul li ul {
        position: relative;
        top: 0;
        left: 0;
    }
    .mobile_menu ul li ul :not(:first-child) a {
        padding-left: 10%;
        background-color: #808389;
    }
	.logged_as {
	
		display: none;
	}
	
	.log_out {
	
		display: none;
	
	}

    #num_of_items {
        display: none;
    }
    
     .header_bottom a {
    
    z-index: 200;
    } 
             
    
            @media only screen and (min-width: 520px) {
                
                .mobile_menu li a {
                        
                        width: 50%;
                }
            }
            
            
            @media only screen and (min-width: 660px) {
                
                body {
                    
                }
                
            }
            
            
            @media only screen and (min-width: 800px) {
                
                
                body {
                    width: 80%;
                }
                
                .header_logo {
                    float: left;
                }
                
                .search_form {
                    float: right;
                    width: 60%;
                    padding: 0;
                }
               
                .top_nav {
                   
                    text-align: left;
                    background: #494E57;
                    color: #FFF;
                    line-height: 30px;
                }
                
                
                .top_nav ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: block;
                    
                }

                .top_nav ul li{
                    display: inline;
                }

                .top_nav ul li a{ 
                    font-size: 0.8em;
                    display: inline-block;
                    padding: 0px 10px;
                }
                
                .cart_user {
                    position: relative;
                    float: right;
                    margin-top: 3px;
                    margin-right: 75px;
                    padding: 0;
                 }
               
                .cart_user img {
                    height: 22px;
                    margin-left: 10px;
                }
                
                
                .cart_user div {
                    display: inline-block;
                    width: 30px;
                    line-height: 31px;
                    position: absolute;
                    right: -40px;
                    top:-3px;
                    text-align: center;
                    background-color: #FFF;
                    color: #494E57;
                }
                
                .top_nav .mobile_menu {
                    display: none;
                }
                
                
                #num_of_items {
                    display: inline;
                }
                
                .logged_as {
                
					display: inline;
					font-size: 0.8em;
					line-height: 25px;
					
				}
				.log_out {
					display:inline;
					font-size: 0.8em;
					line-height: 25px;
				}

                
              
            }
            
            