@CHARSET "UTF-8";

ul.personal_data {
	margin-top:0;
	list-style: none;
	padding-left: 0;
	margin-left:0;
	color: #494E57;
	font-size: 0.8em;
	float:left;
}
ul.personal_data li {
	
	padding-top: 10px;
	
}

ul.personal_data li span {
	font-size: 1em;
	font-weight: bold;
	
}
ul.personal_data li span.empty {
	font-weight:normal;
	color:#FB5642;
	
}

img.profile_image {
	margin-top:10px;
	width:30%;
	float:right;
	
	
}
