@CHARSET "UTF-8";

@media only screen and (min-width: 800px) {
	.block{
		padding-top:23px;
		
	}
	
	.line {
		
		border-top: 2px solid red;
		
	}
}
table tr td img { width:100%; }
table tr td {
	padding:20px;
	
}
table a {
	
	color:#494E57;
	
}