@CHARSET "UTF-8";


.content {
	color: #494E57;
	
}
h3 {
	
	border-bottom: 1px solid #494E57;
	padding-bottom: 5px;
	
}

table {width: 100%;
font-size: 0.8em;
}

thead tr {
	
	background-color: #494E57;
	color: #FFF;
	
	
} 
input[type="number"] { 
	width:50px;	
	
}

input[type="submit"], .button {
    margin: 10px 1px;
    border:0;
    line-height: 23px;
    padding: 0 10px;
    background-color: #FB5642;
    color: #FFF;
}

input[type="submit"]:HOVER,  .button:HOVER {
	
	 background-color:#494E57;
	 color: #FFF;
}

.button {
	font-size:0.8em;
	display: inline-block;
	line-height:30px;
	height: 30px;
	
}
 
.order {
	border-bottom: 1px solid #494E57;
}              