@CHARSET "UTF-8";

table tr td img { width:100%; }
table tr td {
	padding:20px;
	
}
table a {
	
	color:#494E57;
	
}

            

.product_cats {
	font-size: 0.8em;
	color:#FFF;
}

.product_cats li select {
	color: #494E57;
}





@media only screen and (min-width: 800px) {
                
                .product_cats {
						color: #494E57;
                }
                 .product_cats {
						color: #494E57;
                }
            }